.DS_Store
*/.DS_Store
Icon
# CIFAR-10 Dataset
2-Semester/Deep-Learning/CIFAR/CIFAR10/cifar-10-python.tar.gz
2-Semester/Deep-Learning/CIFAR10/cifar-10-python.tar.gz
2-Semester/Deep-Learning/CIFAR/CIFAR10/cifar-10-python.tar.gz
.Rhistory
